API_ID=20867472
API_HASH=abedd7fb77eaf1f88bd3f286ea952253
SESSION_STRING=1BJWap1sAUEy-EA8oKMrI4gB8rrotPqBd8rEM617vdXZ2-axMVIIveJAa8Mr99Ob9eQOXSIOkAEHCjkWearcHAHOc9vaIDYfvqwm1BMFacloymMwg8kb7wDycJmQ1VDxxTBbhfgTBNWofIZNL4oyX1MdTJ1iOHiHzecqKz7glE5xmD8vdZ5sLIauVjdFT-OGGFSEJssY8YJglHImLnf2SZsRD-kRaR_UZxZvT6jsiMVRCW-AJDNLEgAwfTA9SUfAEmUBEszp8HXHhtjGLGajNzkYSM_JbyHn0fthtABmyEGnriWxnqaRtfufUXN0wVYRviILYoJJhj76_Efwk_mXO_k0hHYHpaI8=
FORCE_CHANNEL=@Programmer_error1
FORCE_GROUP=@Programmer_error2
